# Node / Frontend
**/node_modules/
**/dist/
**/.env.local

# Python / AI
**/venv/
**/__pycache__/
*.pyc

# Java / Spring Boot
**/target/
**/.mvn/wrapper/maven-wrapper.jar
*.class

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
